html, body {
	width: 100%;
	height: 100%;
	margin: 0px;
	padding: 0px;
	overflow: hidden;
}

.title {
	height: 60px;
	background: #23262E;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	position: relative;
}

.title .close {
	background: url("../img/close.png") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0px;
	top: 22px;
	right: 20px;
}

.title .close:hover {
	background: url("../img/close1.png") no-repeat;
	x
}

.title .maximize {
	background: url("../img/maximize.png") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0px;
	top: 22px;
	right: 50px;
}

.title .maximize:hover {
	background: url("../img/maximize1.png") no-repeat;
}

.title .minimize {
	background: url("../img/minimize.png") no-repeat;
	width: 16px;
	height: 16px;
	position: absolute;
	right: 0px;
	top: 22px;
	right: 80px;
}

.title .minimize:hover {
	background: url("../img/minimize1.png") no-repeat;
}

.n-resize {
	position: absolute;
	z-index: 10;
	height: 5px;
	left: 0px;
	right: 0px;
	top: 0px;
	cursor: n-resize;
}

.body {
	position: absolute;
	left: 200px;
	top: 60px;
	right: 0px;
	bottom: 0px;
}
a {
	text-decoration:none;
	color: #000;
	
}
.menu {
	position: absolute;
	width: 200px;
	top: 60px;
	left: 0px;
	bottom: 0px;
	border-right: 1px solid #ECEDED;
	background: #393D49
}

.menu .menu-ul {
	margin: 0px;
	padding: 0px;
	margin-top: 20px;
	list-style: none;
}
.menu .current{
	border-left: 2px solid #F83636;
	background: #FFEEEE;
}
 
.menu .menu-ul li {
	height: 40px;
	line-height: 40px;;
	box-sizing: border-box;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
}


